{% include 'flatpages/website_header.html' %}
<h1 id="firstHeading" class="firstHeading mw-first-heading" style="text-align: center;"><span class="mw-page-title-main">History</span></h1>
<div id="bodyContent" class="vector-body">
<div id="mw-content-text" class="mw-body-content mw-content-ltr" dir="ltr" lang="en">
<div class="mw-parser-output">
<div class="hatnote navigation-not-searchable" style="padding-left: 30px;" role="note"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC6UOUkLzW1UFy-8jokJCalClrYCMekadnxsowTpEBtYb7nwqYwMMYKF7Hm7y8P9QkY9U&amp;usqp=CAU" alt="" width="275" height="165" />&nbsp;<img src="https://images.unsplash.com/photo-1515325595179-59cd5262ca53?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGlzdG9yeXxlbnwwfHwwfHw%3D&amp;w=1000&amp;q=80" alt="" width="293" height="165" />&nbsp;<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWZpMa9-YB9MqSYb3ynevBM0FmmIo2bVqWIw&amp;usqp=CAU" alt="" width="307" height="164" /></div>
<h4 class="hatnote navigation-not-searchable" style="padding-left: 30px;" role="note">You can familiarize yourself with all the different countries.</h4>
<div class="hatnote navigation-not-searchable" style="padding-left: 30px;" role="note"><span style="text-decoration: underline;"><strong>Country data available:</strong></span></div>
<ul>
<li class="hatnote navigation-not-searchable" style="padding-left: 30px;" role="note"><a href="http://127.0.0.1:8000/england">England</a></li>
<li class="hatnote navigation-not-searchable" style="padding-left: 30px;" role="note"><a href="http://127.0.0.1:8000/russia">Russia</a></li>
</ul>
<p style="padding-left: 30px;">&nbsp;</p>
</div>
</div>
</div>